*,body {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}	
.main-container {
	background-color: #ffffff;
	max-width: 1180px;
	margin: 0 auto; 
	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto auto;
}
.main-container span.red {
	color: #a01d20;
	font-family: 'Open Sans', sans-serif;

}
.main-container span.heading {
	color : #b52e32;
}
.main-container .inner-container {
	max-width: 960px;
	margin: 0 auto;
}
.main-container .top-header {
	padding-top: 55px;
}
.main-container .top-header .inner-container .header-top {
	display: grid;
	grid-template-columns: 1fr 370px;
	grid-template-rows: 1fr;
	color: #8f8f8f;
} 
.main-container .top-header .inner-container .header-top img {
	align-self: center;
}
.main-container .top-header .inner-container .header-top .right {
	text-align: end;
	font-size: 20px;
	font-weight: bold;
	display: grid;
	grid-template-columns: 1fr 40px;
	grid-template-rows: 1fr;
	align-items: center;
	grid-gap: 15px;
}
.main-container .top-header .inner-container .header-top .right .right-1 p {
	font-weight: 100;
	font-size: 30px;
}.main-container .top-header .inner-container .header-top .right i {
	font-size: 80px;
	color: #8f8f8f;
}
.main-container .main-header {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	height: 455px;
}
.main-container .main-header .navigation {
	background-color: #e2e4e4;
	height: 60px;
	line-height: 60px;
}
.main-container .main-header .navigation .inner-container .menu li {
	list-style: none;
	display: inline-block;
	margin-right: 30px;
}
.main-container .main-header .navigation .inner-container .menu li:last-child {
	margin-right: 0px;
}
.main-container .main-header .navigation .inner-container .menu li a {
	text-decoration: none;
	color: #000000;
	font-size: 20px;
}
.main-container .main-header .navigation .inner-container .menu li a:hover {
	color: red;
}
.main-container .banner {
	background-image: url("../images/banner.png"); 
	height: 561px;
	font-family: 'Open Sans', sans-serif;
}
.main-container .banner .inner-container .content {
	padding-top: 50px;
	display: grid;
	grid-template-columns: 620px auto;
	grid-template-rows: 1fr;
	grid-gap: 30px;
}
.main-container .banner .inner-container .content .left h1 {
	margin-bottom: 45px;
	font-size: 38px;
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
}
.main-container .banner .inner-container .content .left p {
	font-size: 15px;
	color: #cccccc;
	margin-bottom: 35px;
    width: 570px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
.main-container .banner .inner-container .content .left .one {
	color: #999999;
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
}
.main-container .banner .inner-container .content .right h1 {
	color: #ffffff;
	font-size: 20px;
	font-weight: bold;
	padding-top: 100px;
	margin-bottom: 25px;
}
.main-container .banner .inner-container .content .right .list ul {
	margin-bottom: 30px;
}
.main-container .banner .inner-container .content .right .list ul li {
	list-style: none;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 6px auto;
	grid-gap: 15px;
	align-items: center;
	margin-bottom: 10px;
}
.main-container .banner .inner-container .content .right .list button {
	width: 310px;
	height: 55px;
	background-color: #9d1b1f;
	border : none;
    display: grid;
    grid-template-columns: 16px auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
.main-container .banner .inner-container .content .right .list button p {
	color: #ffffff;
	font-size: 16px;
}
.main-container .top-footer {
	height: 330px;
	background-color: #6d7172;
	color: #cccccc;
}
.main-container .top-footer .inner-container .footer-top {
	padding-top: 65px;
	display: grid;
	grid-template-columns: 295px auto;
	grid-gap: 55px;
}
.main-container .top-footer .inner-container .footer-top .left h1 {
	font-size: 20px;
	font-family: 'Open Sans', sans-serif; 
	color: #ffffff;
	margin-bottom: 30px;
} 
.main-container .top-footer .inner-container .footer-top .left h2 {
	color: #ffffff;
	font-weight: 100;
	margin-bottom: 30px;
} 
.main-container .top-footer .inner-container .footer-top .left p {
	margin-bottom: 25px;
}
.main-container .top-footer .inner-container .footer-top .right .box {
	display: grid;
	grid-template-rows: auto auto auto auto;
	grid-template-columns: 1fr;
	grid-gap: 10px;
}
.main-container .top-footer .inner-container .footer-top .right .box .box-1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 10px;
	height: 35px;
	line-height: 35px;
}
.main-container .top-footer .inner-container .footer-top .right .box .box-1 .one form input {
	padding: 0px 20px;
	font-style: italic;
	width: 100%;
    height: 35px;
	background-color: #eaeaea;
	outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .top-footer .inner-container .footer-top .right .box .box-1 .second form input {
	padding: 0px 20px;
	font-style: italic;
	width: 100%;
    height: 35px;
	background-color: #eaeaea;
	outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .top-footer .inner-container .footer-top .right .box .box-2 form input {
	padding: 0px 20px;
	font-style: italic;
	width: 100%;
    height: 35px;
	background-color: #eaeaea;
	outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .top-footer .inner-container .footer-top .right .box .box-3 form textarea {
	padding: 14px 20px;
	font-style: italic;
	width: 100%;
    height: 65px;
	background-color: #eaeaea;
	outline: none;
    border: none;
    border-radius: 5px;
}
.main-container .top-footer .inner-container .footer-top .right .box .grid-button {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;
	grid-gap: 45px;
    align-items: center;
}
.main-container .top-footer .inner-container .footer-top .right .box .grid-button p {
	font-size: 12px;
    justify-self: end;
}
.main-container .top-footer .inner-container .footer-top .right .box .grid-button button {
	width: 180px;
	height: 55px;
	background: linear-gradient(to right, #a01d21 0%, #8a0e12 100%);
	border : none;
    display: grid;
    grid-template-columns: 16px auto;
    grid-gap: 10px;
    justify-content: center;
    align-content: center;
}
.main-container .top-footer .inner-container .footer-top .right .box .grid-button button p {
	color: #ffffff;
	font-size: 16px;
}
.main-container footer {
	height: 120px;
	background-color: #ffffff;
}
.main-container footer .inner-container .footer-division {
    display: grid;
    grid-template-columns: 1fr 164px;
    grid-template-rows: 1fr;
    align-items: center;
    line-height: 120px;
}
.main-container footer .inner-container .footer-division .left {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;
}
.main-container footer .inner-container .footer-division .left .footer-menu li {
	list-style: none;
	display: inline-block;
}
.main-container footer .inner-container .footer-division .left .footer-menu li a {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
	/*border-right: 1px solid black;*/
	padding: 0px 10px; 
}
/*.main-container footer .inner-container .footer-division .left .footer-menu li a:last-child {
	border: none;
}*/
.main-container footer .inner-container .footer-division .left .footer-menu li a:hover {
	color: red;
}
.main-container footer .inner-container .footer-division .left .footer-paragraph {
	color: #adadad;
	font-size: 16px;
}